
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}


body {
  background-color: #0d1117; /* Dark background */
  color: #ffffff; /* White text */
  font-family: 'Inter', sans-serif;
}
